@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-2">Welcome All!</h1>
    <h1 class="display-4">We provide dental services to our patients.</h1>
    <img height="600" src="/images/dentalhome.webp" />
</div>
